/* 
declaration block:

selector{
    property: value;
    property2: value;
}
*/

body{
    color: rgb(0, 0, 0);
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 50px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 100px;
}

h1{
    text-align: center;
}