/* 
declaration block:

selector{
    property: value;
    property2: value;
}
*/

body{
    color: rgb(0, 0, 0);
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 50px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
    position: fixed;
    bottom: 0;
    width: 100%
}

/* <img src="memeImage.jpg" id="memeImage"> */
#memeImage{
    position: absolute;
    top: 220px;
    left: 300px;
    width: 400px;
     transition: top 0.3s, left 0.3s;
}

h1{
    text-align: center;
    padding: 20px;
    margin: 0;
}